$google-blue-600: #1a73e8 !default;
$google-blue-700: #1967d2 !default;
$firebase-yellow: #ffca28 !default;
$firebase-amber: #ffa000 !default;
$firebase-orange: #f57c00 !default;
$firebase-navy: #1b3a57 !default;
$firebase-coral: #ff8a65 !default;
$firebase-grey: #e5eaf0 !default;

$light: #f1f1f1 !default;
$dark: #242424 !default;
